

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 50px; 
    background-image: url('images/bc2.jpeg'); 
    background-size: cover; 
   
    background-repeat: no-repeat;
  }
 
div {
    margin-top: 260px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}

.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  


button {
    margin: 18px 0; 
    margin-left: 15px;
    padding: 21px 110px; 
    font-size: 30px;
    background-color: #613dc1;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    border-radius: 15px;
    font-family: "Rubik Bubbles", system-ui;
  }


button:hover {
    background-color:#858ae3;
    transform: scale(1.15);
}
@media only screen and (max-width: 600px) {
    body {
        padding: 20px; 
        background-image: url('images/bcp.jpeg'); 
    }

    div {
        margin-top: 100px; 
    }

    button {
        padding: 15px 60px; 
        font-size: 22px;
    }
}

@media only screen and (max-width: 400px) {
    button {
        padding: 12px 40px;
        font-size: 18px;
    }
}

